<h2>My Projects</h2>
<div class="project">
  <h3>Friendly Banking App</h3>
  <p>A banking app built with Java and Spring Boot. It allows users to manage their accounts and transactions.</p>
  <a href="https://github.com/LakshmanPalli/Friendly_banking_app.git" target="_blank">View on GitHub</a>
</div>

<div class="project">
  <h3>Netflix Clone</h3>
  <p>A clone of Netflix with video streaming, user authentication, and integration of third-party APIs.</p>
  <a href="https://github.com/LakshmanPalli/Netflix_clone.git" target="_blank">View on GitHub</a>
</div>
